/* /* DEFAULT CODE STARTS HERE */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid red; */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    font-family: "Rubik", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h6,
p {
    text-wrap: balance;
}

input,
textarea,
button {
    font-family: inherit
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

:root {
    --primarycolor: #730d11;
    --secondaryColor: #fbeea3;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --regularFont: 1.6rem;
    --headingFont: 54px;
    --ffPrimary: "Rubik", sans-serif;
    --ffSecondary: "Merienda", cursive;
}


/* Default code Ends here */

/* project standard classes Starts */

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

.componentSpacing {
    padding: 3rem 0;
}

.sectionSpacing {
    padding: 3rem 0rem;
}

.grid-1 {
    /* background-color: rgb(13, 218, 221); */
    display: grid;
    grid-template-columns: 1fr;

}

.grid-2 {
    /* background-color: #e0e3ee; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    /* background-color: #fc387d; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
    /* background-color: #f5d11f; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
    /* background-color: rgb(243, 10, 14); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-6 {
    /* background-color: gray; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dflex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.dflex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.dflex-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

/* project standard classes Ends */
/* PARENT CONTAINER CODE STARTS HERE */

header {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
}

/* PARENT CONTAINER CODE ENDS HERE */
/* HEADER CODE STARTS HERE */
/* NAVBAR CODE STARTS HERE */

.navContainer {
    background-color: var(--primarycolor);
}

.navBar {
    background-color: #f4f4f4d6;
}

.topBody {
    background-color: #004B7E;
    padding: 0.7rem 2rem 0.7rem 37rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.topBodyColumn1 h4 {
    color: var(--lightColor);
    font-size: 1.6rem;
    font-weight: 400;
}
.topBodyColumn1{
    width: 114%;
}
.topBodyColumn1 .apply{
    width: 100%;
}

.topnavLinks li {
    list-style-type: none;
}

.topnavLinks a {
    text-decoration: none;
    color: #151515;
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: #ffffff;
    margin-left: 1.5rem;
}

.topnavLinks a:hover {
    color: var(--lightColor);
    background-color: #004B7E;
    border: 0.1rem solid #ffffff;
}

.topBodyColumn3  {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.topBodyColumn3 a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--lightColor);
    /* padding: 0rem 0rem 0rem 1rem; */
}
.topBodyColumn4 a{
    margin-right: 12rem;
}
.topBodyColumn4 i{
    font-size: 3rem;
    color: var(--lightColor);  
}

.topBodyColumn4 i:hover {
    transform: scale(1.5);
}

.bottomBody {
    background-color: #d2d1d1;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .logoContainer{
    background-color: blue;
} */
.logoContainer img {
    width: 255px;
    margin-left: 3rem;
}

.bottomnavLinks {
    padding: 0rem 6rem 0rem 0rem;
    width: 60%;
    margin-left: 5rem;
}

.bottomnavLinks li {
    list-style: none;
}

.bottomnavLinks a {
    text-decoration: none;
    color: var(--darkColor);
    font-weight: bold;
    font-size: 1.6rem;
}

/* NAVBAR CODE ENDS HERE */

/* HEROSECTIONCODE STARTS HERE */
/* .heroContainer{

}
.heroSection {

}
.heroBody{

} */
.heroBodyImage {
    background-color: #07144e;
    height: 67vh;
    background-image: url(./assets/images/heroimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEROSECTIONCODE ENDS HERE */
/* HEADER CODE ENDS HERE */

/* MAIN CODE STARTS HERE */
/* NEWSANDBULLET CODE STARTS HERE */
/* .newsAndbulletContainer {

}
.newsAndBullet {

}
.newsBulletBody {

} */
.newsColumn h2 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--darkColor);
    margin-right: 4rem;
}

.Cards {
    /* background-color: #ffffff; */
    padding: 2rem;
    display: flex;

}

.card {
    border: 0.2rem solid #730d11;
    width: 22rem;
    height: 36rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}
.card:hover .cardImage {
    transform: scale(1.1);
    transition: 1s;
}

.cardImage img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 1rem;
}

.cardBody p {
    font-size: 1.8rem;
    color: var(--darkColor);
    text-align: left;
    margin-bottom: 1.9rem;
}

.cardBottom button {
    padding: 1.8rem 4rem;
    width: 21.7rem;
    background-color: var(--lightColor);
    border-width: 0.1rem;
}

.card:hover button {
    background-color: var(--primarycolor);
    color:var(--lightColor);
}

.cardBottom button a {
    text-decoration: none;
    color: var(--primarycolor);
    font-size: 1.6rem;
    font-weight: 500;
}

.card:hover button a {
    color: var(--lightColor);
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .bulletinColumn {

} */
.bulletHeader h2 {
    font-size: 3.6rem;
    color: var(--primarycolor);
    font-weight: 500;
    margin-bottom: 2rem;
    padding-right: 30rem;
}

.bulletLinks {
    border: 0.1rem solid #b2b2b2;
    border-radius: 0.4rem;
    width: 59rem;
    height: 50vh;
    padding: 1rem 1.5rem;
    background-color: #f9f9f9;
    margin-bottom: 2rem;
}

.bulletLinks li {
    list-style-type: none;
    border-bottom: 0.1rem dotted black;
    padding: 1rem 0;
}

.bulletLinks a {
    text-decoration: none;
    color: #004b7e;
    font-size: 1.8rem;
}

.bulletLinks p {
    font-size: 1.6rem;
    color: #393737;
}

/* NEWSANDBULLET CODE ENDS HERE */

/* LIST CODE STARTS HERE */
.listofContainer {
    background-image: url(./assets/images/ListBackgroundImg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.list{

}


.listHeader {
    margin-bottom: 0.7rem;
}
/* .listHeading h2 {
    color: var(--lightColor);
} */
.listHeading a {
    text-decoration: none;
    color: var(--lightColor);
    font-size: 4rem;
    font-weight: 400;
    margin-right: 78rem;
}
.listBody{
    padding-left: 6rem;
    /* padding-bottom: 4.4rem; */
}
.listContent {
    width: 85%;
    margin-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.listImage {
    background-color: var(--lightColor);
    border-radius: 1rem;
    padding: 1rem;
    aspect-ratio: 4/3;
    width: auto;
    height: 5rem;
}

.listImage img {
    background-color: var(--lightColor);
    object-fit: cover; 
}

.listContent a {
    text-decoration: none;
    color: var(--lightColor);
    font-size: 1.6rem;
    padding: 0rem 1rem;
}

.doubtColumn {
    background-color: #00000085;
    width: 30rem;
    /* padding-bottom: 10rem; */
}

/* .doubtContent {
} */
.doubtColumn h3 {
    width: 20rem;
    color: var(--lightColor);
    font-size: 2.5rem;
    font-weight: 400;
}
.doubtContent{
    border-bottom: 0.1rem solid #004b7e;
    width: 100%;  
}
.doubtImage {
    margin: 1rem;
}

.doubtContent a {
    text-decoration: none;
    color: var(--lightColor);
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

/* LIST CODE ENDS HERE */
/* PLACEMENT CODE STARTS HERE */
.placementContainer {
    background-image:  linear-gradient(to right,rgb(255, 255, 255),rgba(255, 255, 255, 0.559) , rgba(0, 0, 0, 0)), url(./assets/images/heroimg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* .placement {} */

/* .placementHeader {} */

/* .placementHeading {} */


.placementHeading h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-right: 68rem;
    padding: 4rem 0;
}

.placementHeading a {
    text-decoration: none;
    color: var(--darkColor);
}
.placementBody {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 5rem;
}
.placementColumn{
    padding-left: 17rem;
    
}

.placementContent h4 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primarycolor);   
}

.placementContent p {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--darkColor);
    line-height: 4.5rem;
}

/* PLACEMENT CODE ENDS HERE */

/* RESEARCH CONTAINER STARTS HERE */
.researchContainer {
    background-image: linear-gradient(to left,rgb(255, 255, 255),rgba(255, 255, 255, 0.696),rgb(0, 0, 0,0.1)),url(./assets/images/researchbg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.research {
    /* background-color: #ff0f00; */
    margin-right: 10rem;
    width: 30%;
    margin-left: 105rem;
    padding: 3rem 0rem;
}

.researchHeading h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    /* margin-right: 0rem; */
}
.researchHeading a{
    text-decoration: none;
    font-size: 4rem;
    font-weight: 400;
    color: var(--darkColor);
}

.researchContent {
    margin-bottom: 3rem;
    /* background-color: #be9c79; */
    border-right: 0.3rem solid #07144e;
    padding-right: 2rem;
}

.researchContent h5 {
    font-size: 1.8rem;
    font-weight: 500;
}

.researchContent h3 {
    font-size: 3.6rem;
    color: var(--primarycolor);
}
/* RESEARCH CONTAINER endsS HERE */

/* MAIN CODE ENDS HERE */

/* FOOTER CODE STARTS HERE */
/* FOOTER CODE ENDS HERE */